<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Index</title>
</head>
<body>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="main.css">


	<div class="container mt-5 lign-items-center justify-content-center">
		<div class="row align-items-center h-100">
			<div class="col-3 mx-auto">
				<div class="text-center">						
						<br><br><br><br><br><br><br>
						<h2><a href="{{ cevap['id'] }}">{{ cevap['id'] }}</a> </h2>
						<br><br>
						<button class="btn btn-lg btn-warning btn-block"><a href="/">Geri</a></button>
				</div>
			</div>
		</div>
	</div>	
</body>
</html>